@import "variables.css";
@import "widget.css";
@import "breakpoints.css";

*{
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    display: flex;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}